body {
  background-color: LightGreen;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  font-size: 20px;
  text-decoration: underline;
}

ol {
  align-items: center;
  display: inline-block; 
}
